# Extra autostart processes
# exec-once = uwsm app -- my-service
{{- if eq .chezmoi.hostname "omarchy" }}
exec-once = brightnessctl --device='asus::kbd_backlight' set 3
exec-once = systemctl --user start monitor-hotplug.service
{{- end }}
